@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "ApplicationSuccess";
}
<h1> Successfully Form filled</h1>
<a class="nav-link text-dark" asp-area="" asp-controller="Registration" asp-action="UserDashboard">Click here to go to dashboard</a>
