@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	ViewData["Title"] = "UserDashboard";
}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - EPassportMVCWebApp</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/EPassportMVCWebApp.styles.css" asp-append-version="true" />
</head>
<body>

	<H4>User DashBoard</H4>

	<a class="nav-link text-dark" asp-area="" asp-controller="ApplicationForm" asp-action="Create">Apply For Passport</a>
</body>
</html>