@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
     ViewData["Title"] = "FormFilledSuccessfully";
}

<h4>ApplicationForm filled successfully</h4>

<a class="nav-link text-dark" asp-area="" asp-controller="Registration" asp-action="UserDashboard"><h2>Click here to go back to Dashboard</h2></a>