@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
   <a class="nav-link text-dark" asp-area="" asp-controller="Registration" asp-action="Login"><h2>Login</h2></a>

    <a class="nav-link text-dark" asp-area="" asp-controller="Registration" asp-action="Create"><h2>Register</h2></a>

   
</div>
